<header class="header-container">
  <div class="header-inner">
    <a href="./index.html" class="main-logo">
      <img src="../img/Logo.png" class="logo-img" alt="main-logo" />
    </a>

    <nav class="navigation-bar">
      <ul class="navigation-list">
        <li class="navigation-li"><a href="">Features</a></li>
        <li class="navigation-li"><a href="">About</a></li>
        <li class="navigation-li"><a href="">How to Play</a></li>
        <li class="navigation-li"><a href="">Sweet Boosters</a></li>
        <li class="navigation-li"><a href="">Game Modes</a></li>
        <li class="navigation-li"><a href="">Gallery</a></li>
        <li class="navigation-li"><a href="">FAQ</a></li>
        <li class="navigation-li"><a href="">Device Compatibility</a></li>
        <li class="navigation-li"><a href="">Contact</a></li>
      </ul>
    </nav>

    <button type="button" class="menu-button">
      <svg class="menu-button-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-Vector3"></use>
      </svg>
    </button>
  </div>
</header>
