<section class="hero-section section" id="hero">
  <div class="hero-container container">
    <div class="hero-promo">
      <h1 class="hero-title">lollipop Candy Match</h1>
      <h3 class="hero-subtitle">
        Welcome to the Sugar-Coated World of Match-3 Fun
      </h3>
      <p class="hero-text">
        Lollipop Candy Match is your go-to sweet escape. Slide, swap, and crush
        candies in this colorful and addictive match-3 puzzle game. Whether
        you're chasing high scores or relaxing after a long day, this
        sugar-coated adventure will keep you smiling.
      </p>
      <button
        class="button-hero button-text"
        onclick="window.location.href='https://play.google.com/store/apps/details?id=com.sengymobile.lcm&hl=en&gl=us'"
      >
        <img
          class="hero-icon-btn"
          src="/img/hero/google-play.png"
          alt="icon"
          width="40"
          height="40"
        />
        Download Free on Google Play
      </button>
    </div>
    <img
      class="mob-hero-icon"
      src="/img/hero/mob-content.png"
      alt="icon"
      width="60"
      height="60"
    />
    <div class="hero-image-wrapper">
      <img class="hero-icon" src="/img/hero/content.png" alt="icon" />
    </div>
  </div>
</section>
