<div class="backdrop-header" id="mobile-menu">
  <nav class="mobile-menu-nav">
    <ul class="mobile-menu-nav-list">
      <li><a href="">About</a></li>
      <li><a href="">Features</a></li>
      <li><a href="">How to Play</a></li>
      <li><a href="">Sweet Boosters</a></li>
      <li><a href="">Game Modes</a></li>
      <li><a href="">Gallery</a></li>
      <li><a href="">Player Reviews</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">Device Compatibility</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
</div>
<div class="overlay" id="menu-overlay"></div>
<script src="../js/mob-menu.js"></script>
