.header-container {
  background-color: #052836;
  border-bottom: 3px solid #ff5ca3;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
}

.main-logo img {
  height: 62px;
}

.navigation-bar {
  display: none;
}

.theme-toggle-button {
  background: transparent;
  border: none;
}

.toggle-button-icon {
  fill: #f7f5f5;
}

.menu-toggle-button {
  background: none;
  border: none;
  fill: white;
}


.navigation-li {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #f7f5f5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (min-width: 1200px) {
  .header-inner {
    height: 120px;
  }

  .navigation-bar {
    display: flex;
    gap: 16px;
  }

  .navigation-list {
    display: flex;
    gap: 12px;
  }

  .navigation-li {
    transition: color 0.3s ease;
  }

  .navigation-li:hover,
  .navigation-li:focus {
    color: #ff78b3;
  }

  /* .menu-button {
    display: none;
  } */
}
