.header-container {
  background-color: #052836;
  border-bottom: 3px solid #ff5ca3;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
}

.main-logo img {
  height: 62px;
}

.navigation-bar {
  display: none;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  stroke: white;
  z-index: 9999;
}

.menu-button-icon {
  stroke: white;
  z-index: 9999;
}
.mobile-menu-close-btn {
  fill: #f7f5f5;
}
.navigation-li {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #f7f5f5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 1220px) {
  .container {
  }
  .header-container {
  }
  .header-inner {
    height: 120px;
  }
  .main-logo img {
  }

  .navigation-bar {
    display: flex;
    gap: 16px;
  }

  .navigation-list {
    display: flex;
    gap: 20px;
  }
  .menu-button {
    display: none;
  }
}
