.how-to-play {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: none;
  /* padding-top: 120px; */
}
.how-to-play-mainheader {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1;
  text-align: center;
  color: #f7f5f5;
  text-shadow: 4px 4px 4px rgba(237, 241, 1, 0.25), 2px 2px 10px #e83382;
}
.how-to-play-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: #f7f5f5;
}
.how-to-play-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.how-to-play-item {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.how-to-play-item img {
  width: 40px;
  height: 40px;
  /* flex-shrink: 0; */
}

.how-to-play-text {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33333;
  color: #f7f5f5;
}
@media (min-width: 1220px) {
  .how-to-play {
    gap: 31px;
    padding-right: 200px;
    background-image: url(/img/how-to-pl-1.png), url(/img/how-to-pl-1.png),
      url(/img/how-to-pl-1.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 160px 160px, 60px 60px, 80px 80px;
    background-position: calc(100% - 300px) 302px, calc(100% - 310px) 550px,
      calc(100% - 250px) 455px;
    padding-top: 150px;
  }
  .how-to-play-mainheader {
    font-size: 80px;
    text-align: start;
    padding-bottom: 9px;
  }
  .how-to-play-list {
    /* max-width: 60%; */
  }
  .how-to-play-header {
    font-size: 32px;
    line-height: 1.25;
  }

  .how-to-play-item {
    display: flex;
    align-items: flex-start;
    gap: 8.5px;
  }

  .how-to-play-item img {
    width: 60px;
    height: 60px;
  }

  .how-to-play-text {
    font-size: 20px;
    line-height: 1.5;
  }
}
