.reviews-header {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1;
  text-align: center;
  color: #f7f5f5;
  text-shadow: 4px 4px 4px rgba(237, 241, 1, 0.25), 2px 2px 10px #e83382;
  padding-bottom: 20px;
}
.review-author {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  color: #f7f5f5;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reviews-swiper-btn-next,
.reviews-swiper-btn-prev {
  display: none;
}
.review-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  text-align: center;
  color: #f7f5f5;
}
/* ------------------- */
.reviews-container {
  padding-top: 14px;
  padding-left: 14px;
  padding-bottom: 14px;
  background-color: #023533;
}
.reviewsSwiper {
  /* width: 100%; */
  max-width: 450px;
}
.swiper-item {
  width: 266px !important;
  height: 219px !important;
  /* border-radius: 20px; */
  overflow: hidden;
  flex-shrink: 0;
}
.review-card {
  background-color: #052836;
  border: 2px solid #ff5ca3;
  border-radius: 20px;
  padding: 18px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  /* width: 266px !important; */
  /* height: 219px !important; */
}
.swiper-slide {
}

@media (min-width: 1200px) {
  .reviews-header {
    font-size: 80px;
    text-align: start;

    padding-bottom: 40px;
  }
  .review-card {
    /* max-width: 434px !important; */
    /* max-height: 312px !important; */
  }
  .reviews-container {
    padding: 60px;
    position: relative;
    /* max-width: 888px; */
    /* background-color: #023533; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
  }
  .reviewsSwiper {
    overflow: hidden;
    max-width: 888px;
    /* width: 100%; */
  }
  .review-card {
    padding: 38px 31px;
  }
  .swiper-slide {
  }
  .swiper-item {
    width: 434px !important;
    height: 312px !important;
  }
  .review-author {
    font-size: 20px;
    line-height: 1.2;
  }

  .review-text {
    font-size: 20px;
    line-height: 1.2;
  }
  .reviews-swiper-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
  .reviews-swiper-btn.reviews-swiper-btn-prev {
    left: 60px;
    top: 300px;
    fill: #fff;
  }

  .reviews-swiper-btn.reviews-swiper-btn-next {
    right: 60px;
    top: 300px;
    fill: #fff;
  }
  .reviews-swiper-btn.swiper-button-disabled .gallery-arrow {
    opacity: 0.3;
  }
}
